.demo-body{
width:940px;
padding:20px;
margin-right: auto;
margin-left: auto;
border:solid #333 2px;
background-color:#fff;
}
.body-div{
width:300px;
margin-left:20px;
}
.body-div h3,.body-div-full h3,.body-div-full h1{
margin-top:20px;
border-bottom:solid #333 2px;
border-left:solid #333 2px;
padding-left:3px;
color: #333;
}
/*random*/
.arrow-white {
display: inline-block;
width: 0;
height: 0;
vertical-align: top;
border-top: 4px solid #fff;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
content: "";
margin-top: 8px;
margin-left: 2px;
}

.arrow-black {
display: inline-block;
width: 0;
height: 0;
vertical-align: top;
border-top: 4px solid #000000;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
content: "";
margin-top: 8px;
margin-left: 2px;
}
/*accordion*/
.simpleacc-title{
font-weight:bold;
border:solid black 1px;
padding:3px;
}
.simpleacc-inner{
display:none;
border:solid black 1px;
padding:3px;
}

/*tabs*/
.simpletab{

}
.simpletab-ul{
margin:0px;
margin-bottom:10px;
margin-top:10px;
padding-left: 15px;
line-height: 20px;
}
.simpletab-ul li{
display:inline;
list-style-type:none;
padding:10px;
border:solid black 1px;
border-bottom:none;
border-radius: 3px 3px 0px 0px;
line-height: 20px;
float:left;
position: relative;
top: 5px;
}
.simpletab-inner{
border-top:solid black 1px;	
clear:both;
padding-top:10px;
}
.simpletab-li-attivo{
border-bottom: solid rgba(255, 255, 255, 0) 7px !important;	
background-color:white;
color:black;
}
.simpletab-inner .simpletab-inner{
/*activate overflow when use a simpletab into another simpletab*/
overflow: auto;
height:200px;
}
/*simple tip */
.simple-tip{
cursor:pointer;
}
.simple-tipmenu{
display:none;
position:absolute;
width:200px;
height:250px;
padding:10px;
border:solid black 1px;
border-radius:5px;
background-color:rgba(0,0,0,0.9);
color:white;
box-shadow: 5px 5px 10px 2px #333333;
}

/*simple menu*/
.simple-menu{
list-style-type:none;
color:white;
}
.simple-menu ul{
display:none;
padding-left:0px;
border-left:solid grey 5px;
list-style-type:none;
}
.simple-menu li a{
display: block;
width: 100px;
padding:2px;
padding-left:9px;
cursor:pointer;
background-color:rgba(0,0,0,0.9);
border-bottom:solid grey 1px;

box-shadow: 5px 5px 10px 2px #333333;
}
.simple-menu li a:hover{
background-color:rgba(0,0,0,0.99);
border-bottom:solid grey 1px;
}
/*simple navbar*/
.simple-bar-nav li{
display:inline-block;
list-style-type:none;
padding:0px;
}
.simple-bar-nav a{
display:inline-block;
  font-size: 16px;
  cursor:pointer;
}

.simple-bar-nav li a:hover{

/*box-shadow: 5px 5px 10px 2px #333333;*/
background-color:  #333;
border-radius: 0px;
color:white;
}
.drop-menu li a:hover{
background-color: #333;
text-shadow: 0px 0px 9px rgba(255, 255, 255,0.9);
border-radius: 5px;
color:white;
}
.drop-menu li a{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: white !important;
	white-space: nowrap;

}
.simple-bar-nav li a{
padding: 3px 20px;
color:black;
text-decoration:none;
}
.simple-bar{
font-size: 0;
	margin:0px;
	border: solid grey 0px;
	border-radius: 5px;
	background-color: #888;
	background-image: url('img/barsfondo.png');
background-repeat: repeat-x;

background-size: contain;

}
.simple-bar-nav {
margin:0px;
}
.simple-bar,.simple-bar-inner,.simple-bar-nav{
/*height:40px;*/
}
.drop-menu {

/*box-shadow: 5px 5px 10px 2px #333333;*/
position:absolute;
padding-left: 0px;
display:list-item;
list-style-type:none;
background-color:  #333;
border-radius: 0px 0px 9px 9px;
border-left: solid grey 0px;
border-bottom: solid grey 1px;
border-right: solid grey 1px;
}
.drop-menu li{
display:list-item;
border:none;
}
.s-active{
color:white !important;
/*box-shadow: 5px 5px 10px 2px #333333;*/
background-color:  #333;
}

